--prefer-binary
fastapi==0.115.2
uvicorn==0.30.1
SQLAlchemy==2.0.25
PyMySQL==1.1.1
python-dotenv==1.0.1
pydantic==2.5.3
pydantic-settings==2.0.3
requests==2.31.0
aiofiles==23.2.1
cryptography==41.0.7
httpx==0.25.2
